<!-- po mergu tego brancha zmienić na: klamra procent extends "accounts/base.html" procent klamra -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista asortymentu</title>
</head>
<body>
    <h1>Lista asortymentu</h1>
    <a href="{%  url "stock_create" %}">Dodaj nowy asortyment</a>
    {% for stock in stocks %}
        <div>
            <a href="{% url "stock_detail" stock.id %}">{{ stock.name }}</a> -
            <a href="{% url "stock_update" stock.id %}">Edytuj</a> -
            <a href="{% url "stock_delete" stock.id %}">Usuń</a>
        </div>
    {% endfor %}
</body>
</html>