{% extends "accounts/base.html" %}

{% block title %}Tworzenie klienta{% endblock title %}

{% block body %}
    {% if customer %}
        <div>Udało się! Klient {{ customer.name }} został poprawnie utworzony!</div><br/>
    {% endif %}
    <div class="good-look">
        <form action="{% url 'customer_create' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="OK">

        </form>
    </div>
    <div><a href="{% url 'customer_list' %}">Powrót do listy klientów</a></div>
{% endblock body %}
